<log4net>
  <appender name="GelfUdpAppender" type="Gelf4Net.Appender.GelfUdpAppender, Gelf4Net">
    <remoteAddress value="127.0.0.1" />
    <remotePort value="12201" />
    <layout type="Gelf4Net.Layout.GelfLayout, Gelf4Net">
      <param name="AdditionalFields" value="app:DotnetcoreUdpAppender,version:1.0,Environment:Dev,Level:%level" />
      <param name="Facility" value="SimpleDotnetcoreConsoleApplication" />
      <param name="IncludeLocationInformation" value="true" />
    </layout>
  </appender>

  <appender name="AsyncGelfUdpAppender" type="Gelf4Net.Appender.AsyncGelfUdpAppender, Gelf4Net">
    <!-- Limit of log lines to buffer for async send. Defaults to 1000-->
<!-- If we cannot connect to graylog and the queue reaches the buffersize it will dequeue messages from the queue-->
    <bufferSize value="2000" />
    <!-- Number of tasks to use for the async appender. 0 or fewer indicates one task per processor-->
    <threads value="2" />
    <remoteAddress value="127.0.0.1" />
    <remotePort value="12201" />
    <!-- If we have an exception whe connecting to graylog it will wait and enqueue messages and will start again after milliseconds. Default 5000  -->
<retryAfterMilliseconds value="15000" />
    <layout type="Gelf4Net.Layout.GelfLayout, Gelf4Net">
      <param name="AdditionalFields" value="app:DotnetcoreAsyncUdpAppender,version:1.0,Environment:Dev,Level:%level" />
      <param name="Facility" value="SimpleDotnetcoreConsoleApplication" />
      <param name="IncludeLocationInformation" value="true" />
    </layout>
  </appender>

  <appender name="GelfHttpAppender" type="Gelf4Net.Appender.GelfHttpAppender, Gelf4Net">
    <url value="http://127.0.0.1:12201/gelf" />
    <!-- HttpClient Timeout Limit. Default 5000  -->
<httpClientTimeoutMilliseconds value="5000" />
    <layout type="Gelf4Net.Layout.GelfLayout, Gelf4Net">
      <param name="AdditionalFields" value="app:DotnetcoreHttpAppender,version:1.0,Environment:Dev,Level:%level" />
      <param name="Facility" value="SimpleDotnetcoreConsoleApplication" />
      <param name="IncludeLocationInformation" value="true" />
    </layout>
  </appender>

  <appender name="AsyncGelfHttpAppender" type="Gelf4Net.Appender.AsyncGelfHttpAppender, Gelf4Net">
    <url value="http://127.0.0.1:12201/gelf" />
    <!-- Limit of log lines to buffer for async send. Defaults to 1000-->
<!-- If we cannot connect to graylog and the queue reaches the buffersize it will dequeue messages from the queue-->
    <bufferSize value="2000" />
    <!-- Number of tasks to use for the async appender. 0 or fewer indicates one task per processor-->
    <threads value="2" />
    <!-- If we have an exception whe connecting to graylog it will wait and enqueue messages and will start again after milliseconds. Default 5000  -->
<retryAfterMilliseconds value="15000" />
    <!-- HttpClient Timeout Limit. Default 5000  -->
<httpClientTimeoutMilliseconds value="5000" />
    <layout type="Gelf4Net.Layout.GelfLayout, Gelf4Net">
      <param name="AdditionalFields" value="app:DotnetcoreHttpAppender,version:1.0,Environment:Dev,Level:%level" />
      <param name="Facility" value="SimpleConsoleApplication" />
      <param name="IncludeLocationInformation" value="true" />
      <param name="SendTimeStampAsString" value="false" />
      <!--Sets the full_message and short_message to the specified pattern-->
      <!--<param name="ConversionPattern" value="[%t] %c{1} - %m" />-->
    </layout>
  </appender>

  <appender name="GelfAmqpAppender" type="Gelf4Net.Appender.GelfAmqpAppender, Gelf4Net">
    <remoteAddress value="127.0.0.1" />
    <remotePort value="5672" />
    <username value="guest" />
    <password value="guest" />
    <virtualHost value="/" />
    <exchange value="log-messages" />
    <key value="#" />
    <layout type="Gelf4Net.Layout.GelfLayout, Gelf4Net">
      <param name="AdditionalFields" value="app:DotnetcoreGelfAmqpAppender,version:1.0,Level:%level" />
      <param name="Facility" value="SimpleDotnetcoreConsoleApplication" />
      <param name="IncludeLocationInformation" value="true" />
    </layout>
  </appender>

  <appender name="AsyncGelfAmqpAppender" type="Gelf4Net.Appender.AsyncGelfAmqpAppender, Gelf4Net">
    <!-- Limit of log lines to buffer for async send. Defaults to 1000-->
<!-- If we cannot connect to graylog and the queue reaches the buffersize it will dequeue messages from the queue-->
    <bufferSize value="2000" />
    <!-- Number of tasks to use for the async appender. 0 or fewer indicates one task per processor-->
    <threads value="2" />
    <remoteAddress value="127.0.0.1" />
    <remotePort value="5672" />
    <username value="guest" />
    <password value="guest" />
    <virtualHost value="/" />
    <exchange value="log-messages" />
    <key value="#" />
    <!-- If we have an exception whe connecting to graylog it will wait and enqueue messages and will start again after milliseconds. Default 5000  -->
<retryAfterMilliseconds value="15000" />
    <layout type="Gelf4Net.Layout.GelfLayout, Gelf4Net">
      <param name="AdditionalFields" value="app:DotnetcoreAsyncGelfAmqpAppender,version:1.0,Level:%level" />
      <param name="Facility" value="SimpleDotnetcoreConsoleApplication" />
      <param name="IncludeLocationInformation" value="true" />
    </layout>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="GelfUdpAppender" />
    <appender-ref ref="AsyncGelfUdpAppender" />
    <appender-ref ref="GelfHttpAppender" />
    <appender-ref ref="AsyncGelfHttpAppender" />
    <appender-ref ref="GelfAmqpAppender" />
    <appender-ref ref="AsyncGelfAmqpAppender" />
  </root>
</log4net>
